<section id="services">
    <div class="container-fluid bg-h2-vert py-4 my-4">
        <div class="container">
            <h2>NOS SERVICES</h2>
        </div>
    </div>

    <div class="container d-flex flex-column align-items-center pb-5">

        <div class="row pb-4">


            <div class="col-lg-4">
                <div class="mb-4">

                    <div><img src="../../../../img/pressing.png" class="img-fluid pt-5" alt="vêtements suspendus"></div>
                    <div class="pt-5 text-white">
                        <h3 class="pb-3">Service de pressing haut de gamme</h3>

                        <p class="border-dore px-3">Nous prenons soin de chaque uniforme avec une expertise inégalée.
                            Qu'il s'agisse de tenues de haute couture ou d'habits d'hôtellerie de luxe, notre service de
                            pressing de prestige assure une propreté et un soin parfaits pour toutes vos pièces.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="mb-4">

                    <div><img src="../../../../img/retouches.png" class="img-fluid pt-5"
                            alt="personne qui repasse au fer à repasser"></div>
                    <div class="pt-5 text-white">
                        <h3 class="pb-3">Service de retouches</h3>

                        <p class="border-dore px-3">Nous apportons des ajustements sur mesure à tous types d'uniformes
                            et de tenues professionnelles, répondant aux exigences les plus élevées des maisons de haute
                            couture et des établissements prestigieux.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="mb-4">

                    <div><img src="../../../../img/depot.png" class="img-fluid pt-5" alt="robes délicates"></div>
                    <div class="pt-5 text-white">
                        <h3 class="pb-3">Dépôt et livraison</h3>

                        <p class="border-dore px-3">Chez Sparkle, profitez de notre service de dépôt et livraison en
                            <strong>48 heures</strong>. Nous garantissons des uniformes impeccables rapidement, adaptés
                            à vos besoins.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container-fluid fond-vert h600p mneg">

</section>