<section class="faq container-fluid fond-vert px-0 py-5 ">

    <div class="container-fluid bg-h2-dore mx-0 py-4">
        <div class="container">
            <h2>FAQ</h2>
        </div>
    </div>

    <div class="container">

        <div class="accordion py-5">
            <div class="accordion-item b-none">
                <h2 class="accordion-header b-none">
                    <button class="accordion-button b-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Une question ?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ex id eveniet totam
                        illum dolores voluptatem nemo rem fugit. Ullam beatae quae velit ratione placeat ipsam
                        expedita aut voluptates repudiandae!
                    </div>
                </div>
            </div>

            <div class="accordion-item b-none">
                <h2 class="accordion-header b-none">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Une question ?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse b-none" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo at impedit reprehenderit nobis
                        inventore dolorem obcaecati ratione culpa rerum quae pariatur libero eos sint, fugit eaque
                        accusantium nihil, amet id.
                    </div>
                </div>
            </div>
            <div class="accordion-item b-none">
                <h2 class="accordion-header b-none">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Une questions ?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quibusdam, natus
                        repellendus expedita, ullam eveniet voluptates nobis ea qui optio voluptas, omnis sequi
                        ducimus numquam molestias iusto nesciunt ipsum libero.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
