<section class="faq container-fluid fond-vert px-0 py-5">

    <div class="container-fluid bg-h2-dore mx-0 py-4">
        <div class="container">
            <h2>FAQ</h2>
        </div>
    </div>

    <div class="container">
        <div class="accordion py-5" id="accordionExample">
            <div class="accordion-item mb-4">
                <h3 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1. Comment fonctionne le service de collecte et livraison de vos vêtements ?
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Notre service est simple et pratique. Vous sélectionnez les vêtements à nettoyer, choisissez la matière, le type de service (nettoyage à sec, repassage, etc.), indiquez la quantité, et planifiez les dates de collecte et de livraison. Nous nous déplaçons directement chez vous pour récupérer vos vêtements, puis les livrons à l’adresse indiquée une fois le service terminé.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-4">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Comment puis-je régler ma commande ?
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Le paiement est simple et sécurisé. Une fois votre sélection de vêtements, de services, et les dates de dépôt et livraison effectuées, vous pouvez régler directement en ligne sur notre site. Nous acceptons les principales cartes de crédit et les paiements via des plateformes sécurisées.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-4">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Quels types de vêtements pouvez-vous prendre en charge ?
                    </button>
                </h3>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Notre service de pressing est adapté à une large variété de vêtements, y compris les articles délicats comme la soie, le cachemire, ou les costumes. Lors de la sélection sur notre site, vous pourrez indiquer la matière de chaque vêtement et choisir le traitement le plus approprié pour garantir un soin optimal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
