<!-- PRESTATIONS CLASSIQUES -->

<section class="nos-prestation fond-vert">


    <div>
        <div>
            <h2 class="text-center px-5 py-5">Nos prestations</h2>
        </div>
    </div>




    <div class="container d-flex flex-column align-items-center pb-5">

        <div class="row">


            <div class="col-lg-4  mb-5">
                <div class="mb-4">
                    <div class="border-bottom">
                        <h3>Nettoyage à sec</h3>
                    </div>
                    <div><img src="../../../../img/lavagesec.webp" class="img-fluid pt-5" alt="vêtements suspendus"></div>
                    <div class="pt-5 px-lg-0 px-sm-3">
                        <p class="border-dore px-3">Découvrez notre service de nettoyage à sec haut de gamme chez Sparkle Pressing. Nous utilisons des techniques avancées et des produits respectueux pour préserver la qualité et l’éclat de vos vêtements délicats. Que ce soit pour des pièces individuelles ou des lots professionnels, nous garantissons un soin exceptionnel et une propreté éclatante.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4  mb-5">
                <div class="mb-4">
                    <div class="border-bottom">
                        <h3>Repassage</h3>
                    </div>
                    <div><img src="../../../../img/repassage.webp" class="img-fluid pt-5"
                            alt="personne qui repasse au fer à repasser"></div>
                    <div class="pt-5">
                        <p class="border-dore px-3">À Sparkle Pressing, notre service de repassage assure des résultats impeccables. Grâce à notre équipe professionnelle et nos équipements de pointe, nous éliminons les plis et préservons la qualité de vos vêtements. Profitez d'un repassage parfait et d'un confort optimal avec notre expertise.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4  mb-1">
                <div class="mb-4">
                    <div class="border-bottom">
                        <h3>Tissus délicats</h3>
                    </div>
                    <div><img src="../../../../img/delicat.webp" class="img-fluid pt-5" alt="robes délicates"></div>
                    <div class="pt-5">
                        <p class="border-dore px-3">Chez Sparkle Pressing, nous offrons un nettoyage spécialisé pour vos tissus délicats. Grâce à notre expertise et nos produits de haute qualité, nous préservons la texture et la couleur de vos articles les plus précieux. Faites confiance à notre savoir-faire pour un entretien irréprochable de vos textiles fins.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="py-5">
            <a class="btn-dore" href="#">Je selectionne mes articles</a>
        </div>
    </div>

    <!-- SAC A MAIN -->
</section>
<section class="sac-en-cuir container-fluid fond-vert pt-5 pb-5">
    <div class="container">
        <div class="row fond-clair mx-0">

            <div class="col-lg-7 p-0">
                <div class="border hexago fond-dore h600p">
                    <div><img src="../../../../img/handbag.png" alt="image"></div>
                </div>
            </div>


            <div class="col-lg-5">
                <div class="py-5 h-100 d-flex flex-column justify-content-lg-evenly">
                    <h2>Nettoyage de sac
                        en cuir</h2>
                    <p class="pb-2 lh-lg">Chez Sparkle, nous offrons un service de nettoyage haut de gamme
                        spécialement conçu pour les cuirs les plus délicats.

                        Nos experts utilisent des techniques minutieuses et des produits de la plus haute qualité
                        pour raviver la beauté naturelle de votre sac, éliminer les taches et les salissures, et lui
                        redonner son éclat d'antan.

                        Confiez votre sac à main précieux à nos mains expertes et laissez-nous lui redonner sa
                        splendeur.</p>

                    <div><a href="#" title="découvrir nettoyage sac a main" class="btn-vert">Je souhaite un
                            devis</a></div>
                </div>
            </div>


        </div>



    </div>
</section>