<section class="py-5">
  <div class="container">
    <h1 class="text-center mb-4">Récapitulatif de votre panier</h1>
    <div class="row">
      <!-- Panier -->
      <div class="col-lg-8">
        <div *ngFor="let item of cart; let i = index" class="d-flex justify-content-between align-items-center border p-3 mb-3 bg-light rounded">
          <div>
            <h4>{{ item.articleName }} en {{ item.fabricName }}</h4>
            <p>Service : {{ item.serviceName }}</p>
            <button class="supprimer" (click)="removeItem(i)">Supprimer</button>
          </div>
          <div class="text-end">
            <p class="mb-1">Quantité :</p>
            <div class="input-group mb-2">
              <button class="btn btn-outline-secondary" type="button" (click)="decrement(item)">-</button>
              <input type="text" class="form-control text-center" [value]="item.quantity" readonly>
              <button class="btn btn-outline-secondary" type="button" (click)="increment(item)">+</button>
            </div>
            <p class="mb-0">Prix : {{ item.subTotal }} €</p>
          </div>
        </div>
      </div>

      <!-- Informations supplémentaires et total -->
      <div class="col-lg-4">
        <div class="card border-green mb-3">
          <div class="card-header fond-vert text-white">Dates et créneau</div>
          <div class="card-body">
            <h4>Date de dépôt à domicile :</h4>
            <input type="date" [(ngModel)]="dropOffDate" (change)="saveDatesToSession()" class="form-control mb-3">
            
            <h4>Date de livraison souhaitée :</h4>
            <input type="date" [(ngModel)]="deliveryDate" (change)="saveDatesToSession()" class="form-control mb-3">
            
            <h4>Créneau horaire souhaité :</h4>
            <select [(ngModel)]="deliverySlot" (change)="saveDatesToSession()" class="form-control">
              <option value="">Sélectionnez un créneau horaire</option>
              <option value="08:00-10:00">08:00 - 10:00</option>
              <option value="10:00-12:00">10:00 - 12:00</option>
              <option value="12:00-14:00">12:00 - 14:00</option>
              <option value="14:00-16:00">14:00 - 16:00</option>
              <option value="16:00-18:00">16:00 - 18:00</option>
              <option value="18:00-20:00">18:00 - 20:00</option>
            </select>
          </div>
        </div>
        <div class="border p-3 mb-3 text-center">
          <h3>Total : {{ total }} €</h3>
        </div>
        <button class="btn btn-primary w-100" (click)="validateOrder()">Valider la commande</button>
      </div>
    </div>
  </div>
</section>
