<div class="container-fluid pb-5">

    <div class="row w-100">


        <div class="col-lg-7 hexago fond-vert hauteur-hexa px-0">
            <div class="bloc-gauche d-flex flex-column justify-content-center">
                <div class="hexago2 fond-dore vh90 py-0 px-0">
                    <div class="hexago3 fond-vert vh70 py-0 px-4">

                        <div class="hexago4 my-3 mx-3 mx-auto w-100">

                                        <img src="../../../../img/pro.jpeg" class="d-block w-100 img-fluid" alt="Image 1">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 d-flex flex-column justify-content-center">
            <div class="bloc-droit">

                <div>
                    <h2 class="py-4">Vous êtes une Maison de haute couture, un hôtel ou une conciergerie haut de gamme?
                    </h2>
                    <p class="pb-5">Chez Sparkle, nous savons que l'excellence se reflète dans chaque détail.
                        Découvrez nos services sur mesure pour les professionnels.</p>
                    <div class="d-flex flex-row w-100">
                        <div>
                            <a href="#services" class="btn-vert" title="découvrez nos services"> Je découvre </a>
                        </div>
                        <div class="ps-5">
                            <a href="#devis" class="btn-vert-clair" title="demander un devis"> Je demande un devis </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>