<div *ngIf="orders().length === 0" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Utilisateur</th>
      <th scope="col">Date de commande</th>
      <th scope="col">Employé</th>
      <th scope="col">Date de livraison</th>
      <th scope="col">Statut</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders()">
      <td>
        <a class="text-heading font-semibold" href="#">
          {{ order.userDetails?.email }}
        </a>
      </td>

      <td>
        {{ order.order_date | date:'MMM d, yyyy' }}
      </td>

      <td>
        <p>{{ order.assignedEmployeeName }}</p>
      </td>

      <td>
        {{ order.deliveryDate | date:'MMM d, yyyy' }}
      </td>

      <td>
        <p>{{ order.statusDetails?.statusName }}</p>
      </td>

      <td class="text-end">
        <button class="btn btn-sm btn-neutral" 
                (click)="modifyOrder(order.id.toString())" 
                [disabled]="userHasRole('ROLE_EMPLOYEE')">Modifier</button>

        <a [routerLink]="['/admin/commandes', order.id]" class="btn btn-sm btn-neutral">Voir</a>

        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"
        (click)="deleteOrder(order.id)">
  <i class="bi bi-trash"></i>
</button>
      </td>
    </tr>
  </tbody>
</table>
