<section id="devis">
    <div class="container-fluid bg-h2-dore my-5 py-4">
        <div class="container">
            <h2>Demande de devis</h2>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-6">

            <div class="mb-4">

                <p>Pour toute demande personnalisée, demande de devis, ou pour toute question ou message à nous
                    faire passer, envoyez nous un message via ce formulaire. Nos équipes s’engagent à vous
                    répondre dans les 48h.</p>


                <div class="mb-5">
                    <label for="name" class="form-label d-none">Votre nom</label>
                    <input type="text" class="form-control" id="form-name" placeholder="Mon nom">
                </div>

                <div class="mb-5">
                    <label for="email" class="form-label d-none">Email address</label>
                    <input type="email" class="form-control" id="form-email" placeholder="Mon e-mail">
                </div>

                <div class="mb-5">
                    <label for="txt-area" class="form-label d-none">Message</label>
                    <textarea class="form-control" id="form-message" placeholder="Mon message" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary px-5 py-2">Envoyer</button>

            </div>
        </div>
    </div>

</section>