<div class="modal fade w-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Blouses</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row d-flex justify-content-between">

                <div class="col-lg-6">
                    <img src="../../../img/articles/blouse.webp" alt="blouse" class="img-fluid pt-3" width="400"
                        height="400">
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-evenly">

                    <div>
                        <p><strong> Je selectionne la matière :</strong> </p>

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Coton</option>
                            <option value="1">Velours</option>
                            <option value="2">Synthétique</option>
                            <option value="3">Soie</option>
                            <option value="3">Lin</option>
                            <option value="3">Laine</option>
                        </select>
                    </div>

                    <div>
                        <p><strong>Je choisi le ou les services : </strong> </p>

                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btncheck1">Nettoyage</label>

                            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btncheck2">Repassage</label>

                        </div>
                    </div>
                    <div class="row d-flex flex-row col-1">
                            <button class="btnDecrement btn-secondary" (click)="decrement()">-</button>
                            <input value="0" min="0" [(ngModel)]="count" readonly>
                            <button class="btnIncrement btn-secondary" (click)="increment()">+</button>

                    </div>

                </div>
                <div class="text-end">
                    <p> <strong>Prix TTC : € </strong></p>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>