<ul class="nav justify-content-center bg-white py-3">
    <li class="nav-item px-3">
        <a class="nav-link" aria-current="page" href="#">Hauts</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Bas</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Robes / Combinaisons</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Accessoires</a>
    </li>
</ul>

<section>
    <div class="container fond-clair">

        <h1 class="py-4"> Les hauts :</h1>
        <div class="row d-flex flex-wrap">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 pb-5">
                <img class="img-fluid" width="400" height="400" src="../../../img/articles/blouse.webp" alt="blouse">
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <img class="img-fluid" width="400" height="400" src="../../../img/articles/chemise.webp" alt="blouse">
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <img class="img-fluid" width="400" height="400" src="../../../img/articles/pull.webp" alt="blouse">
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <img class="img-fluid" width="400" height="400" src="../../../img/articles/chemise.webp" alt="blouse">
            </div>
        </div>
    </div>
</section>