<ul class="nav justify-content-center bg-white py-3">
    <li class="nav-item px-3">
        <a class="nav-link" aria-current="page" href="#">Hauts</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Bas</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Robes / Combinaisons</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Accessoires</a>
    </li>
</ul>

<section>
    <div class="container fond-clair">


        <div  class="row d-flex flex-wrap justify-content-between">
            <div class="row d-flex flex-wrap justify-content-between">


                <div *ngFor="let article of articles" class="card col-lg-4 col-md-5 col-sm-6 col-xs-12 mb-5" style="width: 18rem;">
                    <img class="img-fluid pt-3" width="400" height="400" [src]="'/img/articles/' + article.imgUrl" alt="{{article.articleName}}"
                        alt="blouse">
                    <div class="card-body">
                        <h5 class="card-title pb-3">{{ article.articleName }}</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Je selectionne
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<app-article-modal></app-article-modal>