<section class="fond-vert container-fluid">
    <div class="container">


        <div class="col-lg-9 mx-auto row fond-clair border p-5 pt-lg-5">

            <div class="col-lg-5">
                <h1 class="pt-0">Bienvenue chez Sparkle.</h1>
                <!-- <p> Heureux de vous revoir !</p> -->
            </div>

            <div class="col-lg-6">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="validationCustom04" class="form-label">Civilité</label>
                        <select class="form-select focus-ring" id="validationCustom04" formControlName="gender" required>
                            <option value="">Choisir...</option>
                            <option *ngFor="let gender of genders" value="/api/genders/{{ gender.id }}">{{ gender.genderName }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label">Prénom</label>
                        <input formControlName="name" type="text" class="form-control focus-ring" id="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="validationCustom02" class="form-label">Nom</label>
                        <input formControlName="surname" type="text" class="form-control focus-ring" id="surname"
                            required>
                    </div>


                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Votre email :</label>
                        <input formControlName="email" type="email" class="form-control focus-ring" id="email"
                            aria-describedby="emailHelp">
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            Email invalide
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">Adresse</label>
                        <input formControlName="direction" type="text" class="form-control focus-ring" id="direction"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword6" class="col-form-label">Mot de passe :</label>
                        <input formControlName="password" type="password" id="password" class="form-control focus-ring"
                            aria-describedby="passwordHelpInline">
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            Mot de passe requis
                        </div>
                        <span id="passwordHelpInline" class="form-text">
                            Must be 8-20 characters long.
                        </span>

                    </div>
                    <div class="mb-3">
                        <label for="inputPassword6" class="col-form-label">Répétez votre mot de passe :</label>
                        <input formControlName="confirmPassword" type="password" id="password" class="form-control focus-ring"
                            aria-describedby="passwordHelpInline">
                    </div>

                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
                <div class="fs-6 fw-light pt-5">
                </div>
            </div>
        </div>
    </div>
</section>