<section class="fond-vert container-fluid">
    <div class="container">


        <div class="col-lg-9 mx-auto row fond-clair border p-5 pt-lg-5">

            <div class="col-lg-5">
                <h1 class="pt-0">Bienvenue chez Sparkle.</h1>
                <!-- <p> Heureux de vous revoir !</p> -->
            </div>

            <div class="col-lg-6">

                <form>
                    <div class="mb-3">
                        <label for="validationCustom04" class="form-label">Civilité</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option value="">Choisir...</option>
                            <option value="Mme">Madame</option>
                            <option value="M.">Monsieur</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="validationCustom01" required>
                    </div>

                    <div class="mb-3">
                        <label for="validationCustom02" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="validationCustom02" required>
                    </div>


                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Votre email :</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">Adresse</label>
                        <input type="text" class="form-control" id="validationCustom03" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword6" class="col-form-label">Mot de passe :</label>
                        <input type="password" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                        <span id="passwordHelpInline" class="form-text">
                            Must be 8-20 characters long.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword6" class="col-form-label">Répétez votre mot de passe :</label>
                        <input type="password" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>

                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
                <div class="fs-6 fw-light pt-5">
                </div>
            </div>
        </div>
    </div>
</section>