<section class="a-propos pt-5">

    <div class="container-fluid bg-h2-vert py-4 my-4">
        <div class="container">
            <h2>à propos</h2>
        </div>
    </div>

    <div class="container-fluid container-fix px-0 h-100">
        <div class="col-12 fond-apropos d-flex justify-content-center">

            <div class="blur col-lg-5 col-md-8 col-sm-12 py-5 px-5 text-center" 
     [ngClass]="isExpanded ? 'text-expanded' : 'text-collapsed'">

    <h2 class="py-5">Une histoire de famille</h2>
    <p id="description" class="pb-5 text-start text-center">{{ currentText }}</p>
    <div class="pb-4">
        <button id="expandButton" class="btn-dore text-center" (click)="toggleText()">{{ buttonText }}</button>
    </div>
</div>




        </div>
    </div>


</section>
