.fond-apropos{
    background-image: url("../../../../public/img/fond-nature.webp");
    color: white;
    background-attachment : fixed;
}

button{
    border: none;
}

.blur {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
    .text-collapsed {
    max-height: 500px; 

  }
    .text-expanded {
    max-height: 1200px;  
    opacity: 1;        
  }

  
  
  
